apiVersion: apps/v1
kind: Deployment
metadata:
  name: juridico-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: juridico-api
  template:
    metadata:
      labels:
        app: juridico-api
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
        - name: juridico-api
          image: pesdro/juridicoapi:{{tag}}
          ports:
            - containerPort: 8501
                 resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"   
          envFrom:
            - configMapRef:
                name: juridicoapi-env
---
apiVersion: v1
kind: Service
metadata:
  name: juridico-api
spec:
  type: ClusterIP
  selector:
    app: juridico-api
  ports:
  - name: http
    port: 80
    targetPort: 8501
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: linux-app-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: juridico-api
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70